/* styles.css */

body {
    font-family: monospace, 'Courier New', Courier;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

h1 {
color: #333;
text-align: center;
margin-top: 50px;
}

p {
color: #666;
text-align: center;
margin-top: 20px;
}

ul {
list-style: none;
margin: 50px auto;
padding: 0;
width: 80%;
max-width: 800px;
}

li {
margin-bottom: 20px;
}

a {
color: #333;
text-decoration: none;
font-weight: lighter;
}

a:hover {
color: #a33a29;
}

header {
    text-align: center;
    padding: 20px 0;
}

.hej a {
    padding: 10px;
}

.small {
    font-size: smaller;
    padding-top: 10px;
}

img {
    padding-top: 25px;
    display: block;
    margin: auto;
}

